/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ここから */

/* 全体構造 */

body {
    font-size: 15px;
    font-family: Georgia, 'æ¸¸æ˜Žæœ', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
    line-height: 1.8;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1037px;
  margin: 60px auto;
}

/* header */

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #111111;
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
}

.subtitle {
  font-size: 18px;
}

header p {
  color: #777777;
}

.gnav ul {
  display: flex;
}

.home, .page {
  margin-right: 32px;
}

.typography {
  margin-right: 35px;
}

.gnav a {
  color: #444444;
  font-size: 17px;
}

nav {
  display: flex;
  margin-top: 30px;
}

.search {
  margin-left: 208px;
  font-size: 25px;
}

a > i {
  padding-left: 12px;
}

.header_img {
  margin: 80px 0;
}

.header_text {
  font-size: 27px;
  line-height: 49px;
}

/* article */


